doctype html
html(lang="zh-CN")
  head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
    meta(name='title' content='千立生物_打造洁净无菌空间')
    meta(name='keywords' content='千立生物，过氧化氢空间灭菌，过氧化氢消毒灭菌，消毒机器人，制药车间灭菌，安瓿瓶开启器')
    meta(name='description' content='千立生物技术(杭州)有限公司是一家致力于提升医药生产和检测环境洁净水平、医疗感控领域智能除染装备公司。公司集技术研发生产、销售与服务于一体的高新技术企业服务于医药生产净化环境微生物控制、公共卫生消毒等行业。')
    meta(name='renderer' content='webkit')
    meta(http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1')
    meta(content='yes' name='apple-mobile-web-app-capable')
    meta(content='black' name='apple-mobil　we-web-app-status-bar-style')
    link(rel="stylesheet" href=`${layout.manifest['base.css']}`)
    link(rel="stylesheet" href=`${layout.manifest['common.css']}`)
    link(rel="stylesheet" href=`${layout.manifest['layout.css']}`)
    link(rel="stylesheet" href=`${layout.manifest['swiper.css']}`)
    block style
    script(type="text/javascript" src="/lib/require.min.js" charset="uft-8")
    script(type="text/javascript" src=`${layout.manifest['log.js']}` charset="uft-8")
    script(type="text/javascript" src=`${layout.manifest['swiper.js']}` charset="uft-8")
    script(type="text/javascript" src=`${layout.manifest['helper.js']}` charset="uft-8")
    //
                             _oo8oo_
                                o8888888o
                                88" . "88
                                (| -_- |)
                                0\  =  /0
                              ___/'==='\___
                            .' \\|     |// '.
                           / \\| :| | :| | :| |
                          /  :| | :| | :| | : :/
                         |   | \\\  -  /// |   ||
                         | \_|  ''\---/''  |_/ || |
                         \  .-\__  '-'  __/-.  /|||
                       ___'. .'  /--.--\  '. .'___
                    ."" '<  '.___\_<|>_/___.'  >' "".
                   | | :  | | :| | :| | :| | :| | :| | :
                   \  \` | | :| | :| | :| | :| | :| | :| .
                         佛祖开光           永无bug

    script(type="text/javascript" charset="utf-8").
      require.config({
        shim: {
          jQuery: {
            exports: '$'
          }
        },
        baseUrl: '/lib',
        paths: {
          jQuery: 'jquery.min'
        }
      })

    block script
    title 千立生物_打造洁净无菌空间 - #{ title }
    include ../components/index.pug
  body
    header(class=`${layout.isIndex ? 'qianli-header-ghost' : 'qianli-header'}`)
      .qianli-header-inner
        a.qianli-header-logo(href="/")
          img(src="/image/logo_light.png")

        .flex1

        nav.qianli-header-nav
          each item in layout.menus
            a.qianli-header-nav-item(href=`${item.url}`) #{item.title}

    block content

    footer.qianli-footer
      .qianli-footer-top
        img.qianli-footer-logo(src="/image/logo_dark.png")
        .flex1
        span CLICK TO TOP
        a(href="javascript:;")
          img.qianli-footer-backtop(src="/image/back_top.png")

      section.qianli-footer-inner
        .qianli-footer-content
          .qianli-footer-concat
            h5.qianli-footer-concat-title 联系我们

            .qianli-footer-concat-item
              i 服务热线
              span 0571-87705098
            .qianli-footer-concat-item
              i 邮箱
              a(href="mailto:sales@qianlibio.com") sales@qianlibio.com
            .qianli-footer-concat-item
              i 地址
              span 浙江省杭州市西湖区转塘街道浮山街德力西园区

            .qianli-footer-concat-media
              a(href="javascript:;")
                img(src="/image/icon_sina.png")
              a(href="javascript:;")
                img(src="/image/icon_wechat.png")
              a(href="javascript:;")
                img(src="/image/icon_qr.png")

          .flex1
            ol.qianli-footer-nav
              for item of layout.menus
                li.qianli-footer-nav-group
                  a(href=`${item.url}`).qianli-footer-nav__item #{item.title}
                  for children of item.children
                    a(href=`${children.url}`).qianli-footer-nav__item #{children.title}

        .qianli-footer-copyright
          p
            | Copyright &copy; 2022 千立生物技术（杭州）有限公司 版权所有 备案序号：
            a(href="javascript:;") 浙ICP备2021021294号-1

    block footer

    script(type="text/javascript" charset="utf-8").
      require([
        '#{layout.manifest["layout.js"]}',
        '#{layout.manifest["common.js"]}'
      ])
