doctype html
html(lang="zh-CN")
  head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
    meta(name='title' content='千立生物_打造洁净无菌空间')
    meta(name='keywords' content='千立生物，过氧化氢空间灭菌，过氧化氢消毒灭菌，消毒机器人，制药车间灭菌，安瓿瓶开启器')
    meta(name='description' content='千立生物技术(杭州)有限公司是一家致力于提升医药生产和检测环境洁净水平、医疗感控领域智能除染装备公司。公司集技术研发生产、销售与服务于一体的高新技术企业服务于医药生产净化环境微生物控制、公共卫生消毒等行业。')
    meta(name='renderer' content='webkit')
    meta(http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1')
    meta(content='yes' name='apple-mobile-web-app-capable')
    meta(content='black' name='apple-mobil　we-web-app-status-bar-style')
    link(rel="stylesheet" href=`${layout.manifest['base.css']}`)
    link(rel="stylesheet" href=`${layout.manifest['common.css']}`)
    link(rel="stylesheet" href=`${layout.manifest['layout.css']}`)
    link(rel="stylesheet" href=`${layout.manifest['swiper.css']}`)
    block style
    script(type="text/javascript" src=`${layout.domain.resource}/lib/require.min.js` charset="uft-8")
    script(type="text/javascript" src=`${layout.manifest['log.js']}` charset="uft-8")
    script(type="text/javascript" src=`${layout.manifest['swiper.js']}` charset="uft-8")
    script(type="text/javascript" src=`${layout.manifest['helper.js']}` charset="uft-8")
    //
                             _oo8oo_
                                o8888888o
                                88" . "88
                                (| -_- |)
                                0\  =  /0
                              ___/'==='\___
                            .' \\|     |// '.
                           / \\| :| | :| | :| |
                          /  :| | :| | :| | : :/
                         |   | \\\  -  /// |   ||
                         | \_|  ''\---/''  |_/ || |
                         \  .-\__  '-'  __/-.  /|||
                       ___'. .'  /--.--\  '. .'___
                    ."" '<  '.___\_<|>_/___.'  >' "".
                   | | :  | | :| | :| | :| | :| | :| | :
                   \  \` | | :| | :| | :| | :| | :| | :| .
                         佛祖开光           永无bug

    script(type="text/javascript" charset="utf-8").
      require.config({
        shim: {
          jQuery: {
            exports: '$'
          }
        },
        baseUrl: '#{layout.domain.resource}/lib',
        paths: {
          jQuery: 'jquery.min'
        }
      })

    block script
    title 千立生物_打造洁净无菌空间 - #{ title }
    include ../components/index.pug
  body(class=`${layout.isIndex || layout.isNews ? '' : 'qianli-body'}`)
    header(class=`${(layout.isIndex || layout.isNews) ? 'qianli-header-ghost' : 'qianli-header'}`)
      .qianli-header-inner
        a.qianli-header-logo(href="/")
          img(src=`${layout.domain.resource}/image/logo_light.png`)

        .flex1

        nav.qianli-header-nav
          each item in layout.menus
            a.qianli-header-nav-item(href=`${item.link}`) #{item.title}

        form.qianli-header-form(action="/product" methed="get")
          .qianli-header-form-inner
            input.qianli-header-form-input(type='text' name="keyword" placeholder="输入产品名称搜索")
            i.qianli-header-form__icon
              svg(viewBox='0 0 1024 1024', version='1.1', xmlns='http://www.w3.org/2000/svg')
                path(fill="currentColor" d='M474.453333 884.053333c-225.28 0-409.6-184.32-409.6-409.6s184.32-409.6 409.6-409.6 409.6 184.32 409.6 409.6-184.32 409.6-409.6 409.6z m0-68.266666c187.733333 0 341.333333-153.6 341.333334-341.333334s-153.6-341.333333-341.333334-341.333333-341.333333 153.6-341.333333 341.333333 153.6 341.333333 341.333333 341.333334z m252.586667 54.613333c-13.653333-13.653333-10.24-37.546667 3.413333-47.786667s37.546667-10.24 47.786667 3.413334l64.853333 78.506666c13.653333 13.653333 10.24 37.546667-3.413333 47.786667s-37.546667 10.24-47.786667-3.413333l-64.853333-78.506667z', p-id='2213')

          a.qianli-header-form__icon.icon-close(href="javascript:;")
            svg(viewBox='0 0 1024 1024', version='1.1', xmlns='http://www.w3.org/2000/svg')
              path(fill="currentColor" d='M550.848 502.496l308.64-308.896a31.968 31.968 0 1 0-45.248-45.248l-308.608 308.896-308.64-308.928a31.968 31.968 0 1 0-45.248 45.248l308.64 308.896-308.64 308.896a31.968 31.968 0 1 0 45.248 45.248l308.64-308.896 308.608 308.896a31.968 31.968 0 1 0 45.248-45.248l-308.64-308.864z', p-id='2007')
          a.qianli-header-form__icon.icon-search(href="javascript:;")
            svg(viewBox='0 0 1024 1024', version='1.1', xmlns='http://www.w3.org/2000/svg')
              path(fill="currentColor" d='M474.453333 884.053333c-225.28 0-409.6-184.32-409.6-409.6s184.32-409.6 409.6-409.6 409.6 184.32 409.6 409.6-184.32 409.6-409.6 409.6z m0-68.266666c187.733333 0 341.333333-153.6 341.333334-341.333334s-153.6-341.333333-341.333334-341.333333-341.333333 153.6-341.333333 341.333333 153.6 341.333333 341.333333 341.333334z m252.586667 54.613333c-13.653333-13.653333-10.24-37.546667 3.413333-47.786667s37.546667-10.24 47.786667 3.413334l64.853333 78.506666c13.653333 13.653333 10.24 37.546667-3.413333 47.786667s-37.546667 10.24-47.786667-3.413333l-64.853333-78.506667z', p-id='2213')
          i.qianli-header-form__line
          a.qianli-header-form__icon.icon-translate(href="javascript:;")
            svg.icon(viewBox='0 0 1024 1024', version='1.1', xmlns='http://www.w3.org/2000/svg')
              path(fill="currentColor" d='M516.864 85.333333l82.261333 19.114667c-10.069333 42.837333 9.984 82.730667 68.053334 124.330667 135.509333 97.024 167.509333 151.722667 128.981333 272.64-22.698667 71.253333 4.821333 97.28 99.84 97.28V682.666667c-145.92 0-223.018667-72.96-180.394667-206.592 24.874667-77.994667 11.434667-100.906667-97.834666-179.2-83.456-59.733333-119.722667-131.84-100.906667-211.541334z', p-id='3087')
              path(fill="currentColor" d='M134.656 440.32a384 384 0 0 0 495.445333 437.162667c-23.594667-54.528-49.322667-66.730667-97.28-65.365334-5.845333 0.128-10.837333 0.426667-21.76 1.066667-82.688 4.992-123.818667-5.333333-162.688-64.426667-43.477333-65.962667-29.866667-113.664 22.613334-174.165333l6.229333-7.168c39.082667-44.8 42.794667-58.794667 14.421333-99.584-31.744-45.653333-49.365333-48.085333-115.669333-29.098667-62.293333 17.792-102.229333 21.717333-141.312 1.578667z m26.368-84.394667c21.418667 16.341333 40.448 15.36 91.477333 0.768 97.408-27.861333 151.637333-20.309333 209.194667 62.421334 55.808 80.213333 41.642667 133.546667-20.181333 204.416l-6.058667 6.954666c-30.293333 34.986667-33.194667 45.013333-15.786667 71.381334 16.981333 25.856 31.317333 29.44 86.229334 26.154666 11.861333-0.725333 17.450667-1.024 24.490666-1.237333 81.664-2.304 137.813333 28.16 177.237334 115.712A384 384 0 1 0 161.066667 355.925333zM512 981.333333C252.8 981.333333 42.666667 771.2 42.666667 512S252.8 42.666667 512 42.666667s469.333333 210.133333 469.333333 469.333333-210.133333 469.333333-469.333333 469.333333z', p-id='3088')

    block content

    footer.qianli-footer
      .qianli-footer-top
        img.qianli-footer-logo(src=`${layout.domain.resource}/image/logo_dark.png`)
        .flex1
        span CLICK TO TOP
        a(href="javascript:;")
          img.qianli-footer-backtop(src=`${layout.domain.resource}/image/back_top.png`)

      section.qianli-footer-inner
        .qianli-footer-content
          .qianli-footer-concat
            h5.qianli-footer-concat-title 联系我们

            .qianli-footer-concat-item
              i 服务热线
              span 0571-87705098
            .qianli-footer-concat-item
              i 邮箱
              a(href="mailto:sales@qianlibio.com") sales@qianlibio.com
            .qianli-footer-concat-item
              i 地址
              span 浙江省杭州市西湖区转塘街道浮山街德力西园区

            .qianli-footer-concat-media
              a(href="javascript:;")
                img(src=`${layout.domain.resource}/image/icon_sina.png`)
              a(href="javascript:;")
                img(src=`${layout.domain.resource}/image/icon_wechat.png`)
              a(href="javascript:;")
                img(src=`${layout.domain.resource}/image/icon_qr.png`)

          .flex1
            ol.qianli-footer-nav
              for item of layout.menus
                li.qianli-footer-nav-group
                  a(href=`${item.link}`).qianli-footer-nav__item #{item.title}
                  for children of item.children
                    a(href=`${children.link}`).qianli-footer-nav__item #{children.title}

        .qianli-footer-copyright
          p
            | Copyright &copy; 2022 千立生物技术（杭州）有限公司 版权所有 备案序号：
            a(href="javascript:;") 浙ICP备2021021294号-1

    block footer

    script(type="text/javascript" charset="utf-8").
      require([
        '#{layout.manifest["layout.js"]}',
        '#{layout.manifest["common.js"]}'
      ])
