extends layouts/index.pug

block style
  link(rel="stylesheet" href=`${layout.manifest['about.css']}`)

block content
  //- 关于
  section#about-banner
    .about-banner-container
      .about-banner-inner
        .about-banner-content.flex1
          +qianli-badge-title(['QI', 'ANLIBIO'], '千立生物')(qianli-animate='animate-fade-in')
          h3.about-banner-subtitle(qianli-animate='animate-fade-in') 为健康添驱动，让灭菌更安全。

          p.about-banner-desc(qianli-animate='animate-fade-in').
            千立生物是一家科技型药物生产环境微生物控制解决方案提供商，对制药行业法规、工艺有深刻理解。同时也是一家医疗感控领域智能除染解决方案提供商，对医院、急救、疾控、冷链灭菌有着较久的应用经验。
          p.about-banner-desc(qianli-animate='animate-fade-in').
            千立生物主要从事研发制造灭菌机器人、环境监测机器人、静脉配药机器人、高分子材料等产品的研究与应用。通过保障环境的洁净程度，保护和提升人员与药品安全，降低人员工作负荷。

        .about-banner-wallpaper(qianli-animate='animate-fade-in')
          img(src="/upload/20220614143609684592.png")

  //- 公司环境
  section#about-environment
    +qianli-badge-title(['COMPANY', 'ENVIRONMENT'], '公司环境')(center qianli-animate='animate-fade-in').about-environment-title
    .about-environment-swiper(qianli-animate='animate-fade-in')
      +swiper
        block wrapper
          for item of environment
            .swiper-slide
              .about-environment-slide
                img(src=`${item.img}`)
          block pagination
            a.about-environment__swiper-button.prev(href="javascript:;")
              img(src="/image/arrow_left_small.png")
            a.about-environment__swiper-button.next(href="javascript:;")
              img(src="/image/arrow_right_small.png")

  //- 专利展示
  section#about-patent
    .about-patent-container
      +qianli-badge-title(['PATENT', 'DISPLAY'], '专利展示')(center qianli-animate='animate-fade-in').about-patent-title
      .about-patent-swiper
        .swiper-container
          .swiper-wrapper
            each item in patent
              .swiper-slide
                .about-patent-slide(qianli-animate='animate-fade-in')
                  .about-patent-slide__img
                    img(src=`${item.img}`)
                  p.about-patent-slide__title
                    b #{item.title}
                  p.about-patent-slide__desc #{item.desc}

        .about-patent-pagination
          a.about-patent__swiper-button.prev(href="javascript:;")
            img(src="/image/arrow_left_2.png")
            span prev
          a.about-patent__swiper-button.next(href="javascript:;")
            span next
            img(src="/image/arrow_right_2.png")

  //- 合作伙伴
  section#about-partner
    .about-partner-container
      .about-partner-head(qianli-animate='animate-fade-in')
        +qianli-badge-title(['COOPERATE', 'PARTNER'], '合作伙伴')
        .flex1
        .about-partner__button-group
          a.about-partner__button.prev(href="javascript:;")
            img(src="/image/case_l.png")
          a.about-partner__button.next(href="javascript:;")
            img(src="/image/case_r.png")
      .about-partner-swiper(qianli-animate='animate-fade-in')
        .swiper-container
          .swiper-wrapper
            each item in partner
              .swiper-slide
                .about-partner-slide
                  .about-partner-slide__img
                    img(src=`${item.img}`)

block footer
  script(type="text/javascript" charset="utf-8").
    require(['#{layout.manifest["about.js"]}'])
