extends layouts/index.pug

block style
  link(rel="stylesheet" href=`${layout.manifest['about.css']}`)

block content
  //- 关于
  #about
  section#about-banner
    .about-banner-container
      .about-banner-inner
        .about-banner-content.flex1
          +qianli-badge-title(['QI', 'ANLIBIO'], '千立生物')(qianli-animate='animate-fade-in')
          h3.about-banner-subtitle(qianli-animate='animate-fade-in') #{about.title}

          - const descs = about.desc.split(';')
          for desc of descs
            p.about-banner-desc(qianli-animate='animate-fade-in') #{desc}

        .about-banner-wallpaper(qianli-animate='animate-fade-in')
          img(src=`${layout.domain.resource}${about.img}`)

  //- 公司环境
  #env
  section#about-environment
    .about-environment-container
      +qianli-badge-title(['COMPANY', 'ENVIRONMENT'], '公司环境')(center qianli-animate='animate-fade-in').about-environment-title
      .about-environment-swiper(qianli-animate='animate-fade-in')
        +swiper
          block wrapper
            for item of environment
              .swiper-slide
                .about-environment-slide
                  img(src=`${layout.domain.resource}${item.img}`)
            block pagination
              a.about-environment__swiper-button.prev(href="javascript:;")
                img(src=`${layout.domain.resource}/image/arrow_left_small.png`)
              a.about-environment__swiper-button.next(href="javascript:;")
                img(src=`${layout.domain.resource}/image/arrow_right_small.png`)

  //- 专利展示
  #patent
  section#about-patent
    .about-patent-container
      +qianli-badge-title(['PATENT', 'DISPLAY'], '专利展示')(center qianli-animate='animate-fade-in').about-patent-title
      .about-patent-swiper
        .swiper-container
          .swiper-wrapper
            each item in patent
              .swiper-slide
                .about-patent-slide(qianli-animate='animate-fade-in')
                  .about-patent-slide__img
                    img(src=`${layout.domain.resource}${item.img}`)
                  p.about-patent-slide__title
                    b #{item.title}
                  p.about-patent-slide__desc #{item.desc}

        .about-patent-pagination
          a.about-patent__swiper-button.prev(href="javascript:;")
            img(src=`${layout.domain.resource}/image/arrow_left_2.png`)
            span prev
          a.about-patent__swiper-button.next(href="javascript:;")
            span next
            img(src=`${layout.domain.resource}/image/arrow_right_2.png`)

  //- 合作伙伴
  #partner
  section#about-partner
    .about-partner-container
      .about-partner-head(qianli-animate='animate-fade-in')
        +qianli-badge-title(['COOPERATE', 'PARTNER'], '合作伙伴')
        .flex1
        .about-partner__button-group
          a.about-partner__button.prev(href="javascript:;")
            img(src=`${layout.domain.resource}/image/case_l.png`)
          a.about-partner__button.next(href="javascript:;")
            img(src=`${layout.domain.resource}/image/case_r.png`)
      .about-partner-swiper(qianli-animate='animate-fade-in')
        .swiper-container
          .swiper-wrapper
            each item in partner
              .swiper-slide
                .about-partner-slide
                  .about-partner-slide__img
                    img(src=`${layout.domain.resource}${item.img}`)

block footer
  script(type="text/javascript" charset="utf-8").
    require(['#{layout.manifest["about.js"]}'])
