extends layouts/index.pug

block style
  link(rel="stylesheet" href=`${layout.manifest['news.css']}`)

block content
  section#news-center
    .news-center-inner
      .news-center-content
        +qianli-badge-title(['NEWS', 'INFORMATION'], '新闻动态')(large light vertical qianli-animate='animate-fade-in')

        .news-post
          p.news-post-title(qianli-animate='animate-fade-in') #{post.title}
          p.news-post-desc(qianli-animate='animate-fade-in') #{post.desc}

        +qianli-ghost-button('VIEW MORE')(href=`/post/${post.id}` mode="dark" qianli-animate='animate-fade-in' style="column-gap: 60px")

      .news-center-cover
        .news-center-cover__inner(qianli-animate='animate-fade-in')
          img(src=`${post.img}`)

  section#news-container
    .news-inner
      ol.news-list
        for item of news.list
          li.news-item
            .news-item-cover(qianli-animate='animate-fade-in')
              img(src=`${item.img}`)
            a.news-item-content(href=`/post/${item.id}`)
              p.news-item-category(qianli-animate='animate-fade-in')
                b #{item.category_name}
              p.news-item-title(qianli-animate='animate-fade-in')
                b #{item.title}
              p.news-item-date(qianli-animate='animate-fade-in')
                b #{item.date}
              img.news-item-icon(src="/image/case_r.png" qianli-animate='animate-fade-in')

      .flex.justify-center
        +qianli-pagination(pagination)

block footer
  script(type="text/javascript" charset="utf-8").
    require(['#{layout.manifest["news.js"]}'])
